#profile{
    float: right;
    position: absolute;
    right: 0;
}

.navbar-brand{
    font-weight: bold;
    font-size: xx-large;
}

body{
    background-color: rgb(165, 150, 238);
}

h1{
    color: #007BFF;
}