#profile{
    float: right;
    position: absolute;
    right: 0;
}

.navbar-brand{
    font-weight: bold;
    font-size: xx-large;
}

.display-container {
    margin: 0 auto;
}

body{
    background-color: rgb(165, 150, 238);
}

h2{
    position: relative;
    margin-right: 20px;
    margin-left: 20px;
    text-align: center;
    border: dotted 5px #007BFF;
    padding-bottom: 2px;
    color: #007BFF;
}