#profile{
    float: right;
    position: absolute;
    right: 0;
}

.navbar-brand{
    font-weight: bold;
    font-size: xx-large;
}

h2{
    position: relative;
    margin-right: 20px;
    margin-left: 20px;
    text-align: center;
    border: dotted 3px #007BFF;
    padding-bottom: 2px;
    color: #007BFF;
}

.carouselcontainer{
    margin: 0 auto;
    width: 80%;
    max-width: 700px;
    max-height: 700px;
}

#firsth2{
    margin-top: 10px;
}

footer{
    position: relative;
    margin-top: -180px;
    height: 180px;
    clear: both;
    background-color: grey;
    text-align: center;
}