#profile{
    float: right;
    position: absolute;
    right: 0;
}

.navbar-brand{
    font-weight: bold;
    font-size: xx-large;
}

.artist-display {
    margin: 0 auto;
    width: 80%;
    box-shadow: 0 0 5px 2px;
}